<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="select is-multiple">
          <div class="field">
            <div class="control">
              <%= select_tag :benefits, grouped_options_for_select(options_for_benefits_select(@benefits)), multiple: true, size: 10 %>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</section>
