// Place all the styles related to the Comparisons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tbody {
  display: block;
}

.comparison-table > tbody > tr > td {
  width: 15rem;
  min-width: 15rem;
  text-align: center;
}

.comparison-table > tbody > tr > td:nth-child(1) {
  text-align: left;
}
